[Desktop Entry]
Name=keymapp
Type=Application
Comment=Configures ZSA Keyboards
Exec=keymapp
Icon=com.keymapp
Categories=System;HardwareSettings;
Keywords=keyboard;
StartupNotify=true
Terminal=false
Actions=new-window;
X-GNOME-UsesNotifications=true
