priority -50
extends javascriptreact
extends typescript

priority -49
snippet rfc "react functional component"
interface ${1:function_name}Props {${4:props_types}}

export const ${1:function_name} = (${2:props}: ${1:function_name}Props) => ${3:function_body}
endsnippet
