priority -50

extends javascriptreact
extends typescript

priority -49

snippet rfc "react functional component" b
interface ${1:`!p snip.rv = snip.basename`}Props {${2}}

const ${1} = (${3:props}: ${1}Props) => {
${4}
};

export default ${1};
endsnippet
